attr==0.3.2
attrs==21.4.0
blinker==1.5
brotli==1.0.9
brotlicffi==1.0.9.2
brotlipy==0.7.0
cffi==1.15.0
ConfigParser==5.2.0
cryptography==3.4.8
Cython==0.29.28
defusedxml==0.7.1
dl==0.1.0
docutils==0.17.1
HTMLParser==0.0.2
ipython==8.4.0
ipywidgets==7.6.5
jnius==1.1.0
keyring==23.4.0
lockfile==0.12.2
mock==4.0.3
numpy==1.21.5
olefile==0.46
ordereddict==1.1
Pillow==9.0
protobuf==4.21.5
pyOpenSSL==22.0.0
PyQt5==5.15.7
PyQt6==6.3.1
PySide2==5.15.2.1
PySide6==6.3.1
python-dotenv==0.20.0
railroad==0.5.0
simplejson==3.17.6
Sphinx==4.4.0
toml==0.10.2
tornado==6.1
truststore==0.4.0
unicodedata2==14.0.0
watchdog==2.1.6
xmlrpclib==1.0.1
